@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --triforce: 'Triforce', sans-serif;
  --poppins: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6,button,a,p{
  font-family: var(--poppins);
}

body{
  background-color: #1b1b1b;
}

.cards{
  background-color: #2f2f2f;
}

.section-hero{
  position: relative;
  
}

.background{
  background-image: url('../src/assets/bg.jpg');
  background-size: cover;
  height : 100vh;
  background-repeat: no-repeat;
  filter: brightness(20%);
}

.hero{
  position: absolute;
  top: 0;
}

.hero h1{
  font-family: var(--triforce);
  font-size: 1.8rem;
}

.description{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; 
}
